*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 87.5%; //1 rem = 14px; 14px/16px

    @include respond(tab-land) { // width < 1200?
        font-size: 75%; //1 rem = 12px, 12/16
    }

    @include respond(tab-port) { // width < 900?
        font-size: 68.75%; //1 rem = 11px, 11/16
    }
    
    @include respond(big-desktop) {
        font-size: 100%; //1rem = 16, 16/16
    }
}

body {
    box-sizing: border-box;
    color: $color-black;
    padding: 3rem;
    min-height: 100vh;

    @include respond(tab-port) {
        padding: 0;
    }
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}